@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #192a44;
    --second-color: #FFFFFF;
    --orange-color: #ec7d30;
    --text-colorOne: #07223e;
    --text-colortwo: #f8f8f8;
}
html {
    font-size: 10px;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
}

/* === componentes === */

/* titulos */

.seccion__title{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 5rem; */
    margin-bottom: 3rem;
}
.seccion__line{
    display: flex;
    width: 30%;
    height: 5px;
    background-color: var(--orange-color);
}
.seccion__title-h3{
    font-size: 3.5rem;
}

/* === nav === */

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1000;
}

.nav__header {
    display: flex;
    justify-content: space-between; 
    width: 80%;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 4rem;
    letter-spacing: 5px;
    color: var(--primary-color);
}

.nav__logo-img{
    background-color: var(--primary-color);
    width: 7rem;
    height: 100%;
}

.nav__logo-img-img{
    width: 150%;
}

.nav__header-info {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.header__card {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding-left: 4rem;
}

.linia__borde{
    width: 2px;
    height: 4.5rem;
    background-color: rgb(25, 42, 68, 0.5);
}

.icon_header{
    font-size: 3.5rem;
    margin-right: .9;
    font-weight: 100;
}

.header__boton{
    display: flex;
    align-items: center;
    margin-right: 3rem;
    cursor: pointer;
}

.header__boton-box{
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 1;
    width: 20rem;
    background-color: var(--orange-color);
    padding: .5rem;
    font-size: 1.5rem;
    color: var(--second-color);
    letter-spacing: 1.5px;
}

.header__boton-img{
    width: 4rem;
    margin-right: 1rem;
}

.nav__menu{
    display: flex;
    width: 80%;
    justify-content: center;
    background-color: var(--primary-color);
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.nav__links-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: var(--second-color);
    font-weight: bold;
    transition: all 300ms ease;
}

.nav__links-item:hover{
    font-size: 2rem;
    text-shadow: #ec7d30 0px 0px 10px;
}

.ligth-orange{
    background-color: var(--orange-color);
    font-size: 2rem;
}

/* === header === */
.container__header{
    width: 100%;
    height: 100vh;
}
.header{
    position: absolute;
    top: 10rem;
    width: 100%;
    height: 100vh;
    background-image: url("../img/portada.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.header__container{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 80%;
    padding: 4rem;
    margin-top: 4rem;
}

.header__title-h1{
    width: 50%;
    text-align: center;
    color: var(--second-color);
    font-size: 5rem;
}

.header__cv{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.download{
    font-size: 7rem;
    margin-left: 2rem;
    color: var(--second-color);
}

.headear__cv-img{
    width: 9rem;
    color: var(--second-color);
}

.download {
    font-size: 48px;
    cursor: pointer;
}

/* === Slide === */
@keyframes slide{
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-40%);
    }
}

.carrucel{
    width: 100%;
    height: 15rem;
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    box-shadow: 0px 3px 26px -12px rgba(0, 0, 0, 0, 0.75);
}

.carrucel:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
    content: "";
    z-index: 1;
}

.carrucel:after{
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
    content: "";
    z-index: 1;
}

.carrucel__item--slide{
    display: flex;
    width: 150%;
    /* justify-content: center; */
    align-items: center;
    white-space: nowrap;
    animation: slide 10s linear infinite;
}

.carrucel__item{
    width: 15rem;
    margin-right: 7.5rem;
    /* margin-left: 25rem;
    margin-right: 10rem; */
}

.carrucel__item-s{
    width: 20rem;
}

/* === Servicios === */

.servicios{
    display: flex;
    flex-direction: column;
    background-image: url("../img/servicios_fondo.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 60%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.servicios__servicio{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.servicio__card{
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.servicio__card-img{
    border: 5px solid var(--primary-color);
    border-radius: 2rem;
    margin-bottom: 5rem;
    cursor: pointer;
    transition: all 300ms ease;
}

.servicio__card-img:hover{
    transform: scale(1.1);
    border: 5px solid var(--orange-color);
}

.servicio__card-h3{
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.servicio__card-line{
    width: 5rem;
    height: 5px;
    background-color: var(--orange-color);
    margin-bottom: 2rem;
}

.servicio__card-text{
    font-size: 1.5rem;
    color: var(--text-colorOne);
    line-height: 3rem;
}

.servicio__card-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    padding: 1rem;
    background-color: var(--orange-color);
    color: var(--second-color);
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    margin-top: 5rem;
    cursor: pointer;
    transition: all 300ms ease;
}

.servicio__card-button:hover{
    background-color: var(--primary-color);
}

/* === Nosotros === */
.nosotros{
    display: flex;
    background-image: url("../img/servicios_fondo.png");
    background-repeat: no-repeat;
    background-position: right  top;
    background-size: 80%;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 140vh;
    /* background-color: bisque; */
}

.nosotros__objetive{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
}

.banda1{
    width: 10%;
    height: 70%;
    background-color: var(--primary-color);
}

.objetive__imagen-img{
    width: 17%;
    padding: 2.5rem;
    box-shadow: 10px 10px 8px #888888;
}

.objetive__banda{
    display: flex;
    align-items: center;
    justify-content:left;
    width: 72%;
    height: 70%;
    background-color: var(--primary-color);
}

.objetive__banda-p{
    width: 70%;
    font-size: 2rem;
    color: white;
    letter-spacing: 2px;
    line-height: 3rem;
    padding: 2rem;
    margin-left: 5rem;
}

.nosotros__description{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.nosotros__description-parrafos{
    position: relative;
    width: 40%;
    height: 50%;
    padding-top: 15rem;
}

.nosotros__description-parrafos p{
    font-size: 2rem;
    color: var(--text-colorOne);
    line-height: 3rem;
    margin-bottom: 3rem;
    letter-spacing: 3px;
    font-weight: 700;
}

.nosotros__imagen2{
    width: 40%;
}

.shadow__description{
    width: 40rem;
    height: 70rem;
    background-color: #efefef;
    margin-left: 20rem;
}

.nosotros__description-img{
    position: relative;
    top: -50%;
    right: -25%;
    width: 80%;
}

/* === Galeria === */

.galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
    /* background-color: #a3cbf6; */
    margin-top: 5rem;
}

.galeria__container{
    width: 91%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15rem 80vh;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 
    "container__descript container__descript"
    "container__proyect container__gal"
    ;
}

.container__descript{
    grid-area: container__descript;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.container__descript-h3{
    width: 50%;
    text-align: center;
    font-size: 2rem;
    color: var(--second-color);
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.container__proyect{
    grid-area: container__proyect;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}
.container__proyect-items{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__proyect-items li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    color: var(--second-color);
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: all 300ms ease;
}

.active{
    background-color: var(--orange-color);
    transform: scale(1.1);
    transition: all 300ms ease;
}


.container__gal{
    grid-area: container__gal;
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
}

.container__gal::-webkit-scrollbar {
    width: 20px;
}

.container__gal::-webkit-scrollbar-thumb {
    background-color: var(--orange-color);
    border-radius: 10px;
}

.container__gal::-webkit-scrollbar-track {
    background-color: #f1f1f1;

}

.galeria .box-img{
    width: calc(120px * 3 - 20px);
    height: 200px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .6);
    overflow: hidden;
}

.galeria .box-img img{
    width: 100%;;
    vertical-align: top;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s ease;
}

.galeria .box-img img:hover{
    transform: scale(1.3);
}

/* modal */

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #ffffff;
    cursor: pointer;
    border: none;
    background: none;
}

.modal img{
    width: 70%;
    object-fit: cover;
}


/* === Contacto === */

.contacto{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}